#root {
    width: 100%;
    min-width: 1100px;
    overflow-y: scroll;
    min-height: 100vh;
    background: linear-gradient(90deg, #374dd5 0%, #9656ff 100%);
    display: flex;
}

::-webkit-scrollbar {
    width: 5px;
}
scrollbar-width: thin;
/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 7px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #e7e7e7;
    border-radius: 5px;
}




.column {
    width: 50%;
}

.fixed {
    position: fixed;
    right: 30px;
}

/*

Header

*/

#header {
    background: linear-gradient(90deg, #374dd5 0%, #9656ff 100%);
    padding-left: 30px;
    padding-right: 30px;
    height: 100%;
}

#header-color {
    padding-top: 50px;
    padding-bottom: 50px;
    background: linear-gradient(90deg, #2f006f40 0%, #02356140 100%);
}

#header-container {
    width: 100%;
    padding-top: 100px;
    height: 100%;
}

#app-name {
    font-size: 70px;
    width: 100%;
    text-align: center;
    font-weight: 600;
    color: #ffffff;
    font-family: 'Titillium Web', sans-serif;
}

#car-image {
    background-image: url(www/car-white.png);
    background-repeat: no-repeat;
    opacity: 0.8;
    width: 300px;
    height: 150px;
    background-size: 300px;
    background-position: center top;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#car-image-color {
    background-color: #6752ea16;
    width: 100%;
    height: 100%;
}

/*

Features

*/

#features-container {
    padding-top: 50px;
    padding-bottom: 50px;
}



