.input-text {
    width: 100%;
    margin-bottom: 20px;
}

.input-text input {
    color: #9168d2;
    font-family: 'Open Sans', sans-serif;
    background-color: #f9f7ff;
    border-radius: 7px;
    border: #ba8fff 1px solid;
    cursor: text;
    outline: none;
    width: calc(100% - 32px);
    height: 30px;
    line-height: 30px;
    text-align: left;
    font-size: 13px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
}

.input-text input::placeholder {
    color: #9168d2;
}

input::-moz-placeholder {
    opacity: 1;
}

.input-text-title {
    font-size: 13px;
    color: #000000;
    font-weight: 600;
    margin-bottom: 5px;
}

.input-text input:focus {
    border: #a490e4 1px solid;
}

.input-text input:focus::placeholder {
    color: #d1bcf3;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}